
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Limitless - Responsive Web Application Kit by Eugene Kopyov</title>

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="../global_assets/css/icons/icomoon/styles.min.css" rel="stylesheet" type="text/css">
	<link href="../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="../assets/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
	<link href="../assets/css/layout.min.css" rel="stylesheet" type="text/css">
	<link href="../assets/css/components.min.css" rel="stylesheet" type="text/css">
	<link href="../assets/css/colors.min.css" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script src="../global_assets/js/main/jquery.min.js"></script>
	<script src="../global_assets/js/main/bootstrap.bundle.min.js"></script>
	<script src="../global_assets/js/plugins/loaders/blockui.min.js"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script src="../global_assets/js/plugins/buttons/spin.min.js"></script>
	<script src="../global_assets/js/plugins/buttons/ladda.min.js"></script>

	<script src="../assets/js/app.js"></script>
	<script src="../global_assets/js/demo_pages/components_buttons.js"></script>
	<!-- /theme JS files -->

</head>

<body>

	<!-- Basic button layouts title -->
    <div class="mb-3 mt-2">
        <h6 class="mb-0 font-weight-semibold">
            Outline buttons
        </h6>
        <span class="text-muted d-block">Outline button layout and options</span>
    </div>
    <!-- /basic button layouts title -->


    <!-- Outline button (default colors) -->
    <div class="row">
        <div class="col-lg-4">
            <div class="card card-body border-top-primary">
                <div class="text-center">
                    <h6 class="m-0 font-weight-semibold">Default colors</h6>
                    <p class="text-muted mb-3">Default 8 contextual colors</p>

                    <button type="button" class="btn btn-outline-primary">Hoverable</button>
                    <button type="button" class="btn bg-transparent text-primary border-primary ml-1">Static</button>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card card-body border-top-primary">
                <div class="text-center">
                    <h6 class="m-0 font-weight-semibold">Default colors with icon</h6>
                    <p class="text-muted mb-3">Available in both directions</p>

                    <button type="button" class="btn btn-outline-danger"><i class="icon-cog3 mr-2"></i> Hoverable</button>
                    <button type="button" class="btn bg-transparent text-danger border-danger ml-1"><i class="icon-cog3 mr-2"></i> Static</button>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card card-body border-top-primary">
                <div class="text-center">
                    <h6 class="m-0 font-weight-semibold">Default colors with menu</h6>
                    <p class="text-muted mb-3">Outline button with dropdown</p>

                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown">Hoverable</button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="#" class="dropdown-item"><i class="icon-menu7"></i> Action</a>
                            <a href="#" class="dropdown-item"><i class="icon-screen-full"></i> Another action</a>
                            <a href="#" class="dropdown-item"><i class="icon-mail5"></i> One more action</a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item"><i class="icon-gear"></i> Separated line</a>
                        </div>
                    </div>

                    <div class="btn-group ml-1">
                        <button type="button" class="btn bg-transparent text-success border-success dropdown-toggle" data-toggle="dropdown">Static</button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="#" class="dropdown-item"><i class="icon-menu7"></i> Action</a>
                            <a href="#" class="dropdown-item"><i class="icon-screen-full"></i> Another action</a>
                            <a href="#" class="dropdown-item"><i class="icon-mail5"></i> One more action</a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item"><i class="icon-gear"></i> Separated line</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /outline button (default colors) -->


    <!-- Outline button (custom colors) -->
    <div class="font-size-sm text-uppercase font-weight-semibold mb-2 mt-1">Custom colors</div>
    <div class="row">
        <div class="col-lg-4">
            <div class="card card-body border-top-primary">
                <div class="text-center">
                    <h6 class="m-0 font-weight-semibold">Custom colors</h6>
                    <p class="text-muted mb-3">Available in all custom colors</p>

                    <button type="button" class="btn btn-outline bg-indigo-400 text-indigo-400 border-indigo-400">Hoverable</button>
                    <button type="button" class="btn bg-transparent text-indigo-400 border-indigo-400 ml-1">Static</button>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card card-body border-top-primary">
                <div class="text-center">
                    <h6 class="m-0 font-weight-semibold">Custom colors with icon</h6>
                    <p class="text-muted mb-3">Available in both directions</p>

                    <button type="button" class="btn btn-outline bg-pink-400 text-pink-400 border-pink-400"><i class="icon-cog3 mr-2"></i> Hoverable</button>
                    <button type="button" class="btn bg-transparent text-pink-400 border-pink-400 ml-1"><i class="icon-cog3 mr-2"></i> Static</button>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card card-body border-top-primary">
                <div class="text-center">
                    <h6 class="m-0 font-weight-semibold">Custom colors with menu</h6>
                    <p class="text-muted mb-3">Outline button with dropdown</p>

                    <div class="btn-group">
                        <button type="button" class="btn btn-outline bg-slate-600 text-slate-600 border-slate dropdown-toggle" data-toggle="dropdown">Hoverable</button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="#" class="dropdown-item"><i class="icon-menu7"></i> Action</a>
                            <a href="#" class="dropdown-item"><i class="icon-screen-full"></i> Another action</a>
                            <a href="#" class="dropdown-item"><i class="icon-mail5"></i> One more action</a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item"><i class="icon-gear"></i> Separated line</a>
                        </div>
                    </div>

                    <div class="btn-group ml-1">
                        <button type="button" class="btn bg-transparent text-slate-600 border-slate dropdown-toggle" data-toggle="dropdown">Static</button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="#" class="dropdown-item"><i class="icon-menu7"></i> Action</a>
                            <a href="#" class="dropdown-item"><i class="icon-screen-full"></i> Another action</a>
                            <a href="#" class="dropdown-item"><i class="icon-mail5"></i> One more action</a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item"><i class="icon-gear"></i> Separated line</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /outline button (custom colors) -->


</body>
</html>
